rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    
    function isAuthenticated() {
      return request.auth != null;
    }

    function isSuperAdmin() {
      return request.auth.token.role == 'ADMIN';
    }

    function isCoordinator() {
      return request.auth.token.role == 'COORDONNATEUR';
    }

    function isSameDepartment(departementId) {
      return request.auth.token.departementId == departementId;
    }

    match /departements/{document=**} {
      allow read: if isAuthenticated();
      allow write: if isAuthenticated() && isSuperAdmin();
    }

    match /{collection}/{document} {
      // Pour toutes les collections métier (cours, groupes, tâches, etc.)
      allow read: if collection != 'departements' && isAuthenticated() && (isSameDepartment(resource.data.departementId) || isSuperAdmin());
      allow create: if collection != 'departements' && isAuthenticated() && (isSameDepartment(request.resource.data.departementId) && isCoordinator() || isSuperAdmin());
      allow update, delete: if collection != 'departements' && isAuthenticated() && (isSameDepartment(resource.data.departementId) && isCoordinator() || isSuperAdmin());
    }
  }
}
